.footer-banner {
    padding: 100px 40px;
    background-color: #f02d34;
    border-radius: 15px;
    position: relative;
    height: 400px;
    line-height: 1;
    color: white;
    width: 100%;
    margin-top: 120px;

    .footer-banner__desc {
        display: flex;
        justify-content: space-between;
    }
}
