.productDetailContainer {
    display: flex;
    gap: 40px;
    margin: 40px;
    margin-top: 60px;
    color: #324d67;
}

.productDetailImage {
    border-radius: 15px;
    background-color: #ebebeb;
    width: 400px;
    height: 400px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(240, 45, 52, 0.4);
    }
}

.smallImagesContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.smallImage {
    border-radius: 8px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.selectedImage {
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 7.5px rgba(240, 45, 52, 0.4);
    }
}

.reviews {
    color: #f02d34;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
}

.reviews__num {
    color: #324d67;
}

.productDetailContainer__details {
    margin-top: 10px;
}

.productDetailContainer__detailsRender {
    margin-top: 10px;
}

.price {
    font-weight: 700;
    font-size: 26px;
    margin-top: 30px;
    color: #f02d34;
}

.quantity {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
}

.quantityDesc {
    border: 1px solid gray;
    padding: 6px;

    span {
        font-size: 16px;
        padding: 6px 12px;
        cursor: pointer;
    }
}

.minus {
    border-right: 1px solid gray;
    color: #f02d34;
}

.num {
    border-right: 1px solid gray;
    font-size: 20px;
}

.plus {
    color: rgb(49, 168, 49);
}
