.productDetailContainer {
    display: flex;
    gap: 40px;
    margin: 40px;
    margin-top: 60px;
    color: #324d67;
}

.productDetailImage {
    border-radius: 15px;
    background-color: #ebebeb;
    width: 400px;
    height: 400px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(240, 45, 52, 0.4);
    }
}

.smallImagesContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.smallImage {
    border-radius: 8px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.selectedImage {
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 7.5px rgba(240, 45, 52, 0.4);
    }
}
