
.products-heading {
  text-align: center;
  margin: 40px 0;
  color: #324d67;
}

.products-heading__title {
  font-size: 40px;
  font-weight: 800;
}

.products-heading__desc {
  font-size: 16px;
  font-weight: 200;
}


.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
}

.product {
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    color: #324d67;

    &:hover {
        transform: scale(1.1, 1.1);
    }
}

.product__image {
    border-radius: 15px;
    background-color: #ebebeb;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    width: 250px;
    height: 250px;
}

.product__name {
    font-weight: 500;
}

.product__price {
    font-weight: 800;
    margin-top: 6px;
    color: black;
}
